<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="callSettersOnNulls" value="true" />
        <setting name="jdbcTypeForNull" value="NULL" />
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <!-- 공통 Type / Alias -->
        <typeAlias alias="paramMap" type="java.util.HashMap" />
        <typeAlias alias="hashmap" type="java.util.HashMap" />
        <typeAlias alias="resultMap" type="java.util.HashMap" />
        <typeAlias alias="resultList" type="java.util.List" />

        <package name="com.web.ns_mng_api.api"/>
    </typeAliases>

<!--    <plugins>-->
<!--        <plugin interceptor="com.web.ns_mng_api.cmm.interceptor.MybatisLogInterceptor" />-->
<!--    </plugins>-->

</configuration>